﻿@model ProductInCartSessionModel
@{
    ViewData["Title"] = "Added";
}

<h1 id="verification">Veryfying request. Please wait...</h1>
<div id="verification-success" class="not-displayed">
    <h1>Product added to shopping cart.</h1>
    <p>
        <a asp-action="Index" asp-controller="Products">Continue shopping</a>
    </p>
    <p>
        <a asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
    </p>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        let addProductViewModelData = @Html.Raw(Json.Serialize(Model));

        let localStorageProductData = {
            productId: addProductViewModelData.productId,
            quantity: addProductViewModelData.quantity
        };

        shoppingCart.addProduct(localStorageProductData);

        $("#verification").hide();
        $("#verification-success").show();
});
</script>
}