﻿@model ShoppingCartEncodedData
@{
    ViewData["Title"] = "Shopping cart";
}

<h1>Redirection to your shopping cart...</h1>

<form id="products-string-form" asp-controller="ShoppingCart" asp-action="List">
    <input asp-for="productsString" class="form-control" type="hidden" />
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            let localStorageProductsList = shoppingCart.getProductsList();
            console.log(shoppingCart);

            if (localStorageProductsList != undefined && localStorageProductsList != null) {
                let productListString = "";

                for (let i = 0; i < localStorageProductsList.length; i++) {
                    productListString += localStorageProductsList[i].productId + ":" + localStorageProductsList[i].quantity + ";";
                }

                $("#productsString").val(productListString);
            }//if

            $("#products-string-form").submit();
        });
    </script>
}

