﻿@model IEnumerable<ShoppingCartProductViewModel>
@{
    ViewData["Title"] = "List";
}

<h1>Shopping cart</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                @*todo: find better aproach*@
                <th>
                    Total price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Product.Image != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Product.Image))" alt="Photo" max-width="100" height="100">
                        }
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.Name) *@
                        @Html.ActionLink(item.Product.Name, "Details", "Products", new { Id = item.Product.Id }, null /* html attributes */)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @(item.Product.Price* item.Quantity)
                    </td>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-productId="@item.Product.Id" asp-route-quantity="@item.Quantity">Remove from cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button id="checkout-btn" class="btn btn-primary">Go to checkout</button>
    </div>

    <partial name="_productsStringForm" model="new ShoppingCartEncodedData()" />

    @section scripts{ 
        <script>
            $("#checkout-btn").click(function () {
                submitShoppingCartHiddenForm(shoppingCart, "POST", "/Order");
            });
        </script>
    }
}
else
{
    <p>Your shopping cart is empty. Go to the <a asp-controller="Products" asp-action="Index">items list</a> add something to your shopping cart first :)</p>
}

