﻿@model ShoppingCartProductViewModel
@{
    ViewData["Title"] = "RemoveItem";
}

<h1>RemoveItem</h1>

<div>
    <h4>Product</h4>
    <hr />
    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product.Image))">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            Total price
        </dt>
        <dd class="col-sm-10">
            @(Model.Product.Price * Model.Quantity)
        </dd>
    </dl>

    <div class="form-group">
        <input id="remove-btn" type="submit" value="Remove" class="btn btn-primary" />
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                $('#remove-btn').click(function (event) {
                    let productId = @(Model.Product.Id);
                    console.log(productId);
                    shoppingCart.removeProduct(productId);
                    window.location.href = "/ShoppingCart";
                });
            });
        </script>
    }
</div>


