﻿@model byte[]

<div>
    @if (Model != null)
    {
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model))" alt="Photo" class="img-responsive item-image">
    }
    else
    {
        <img src="~/images/no-photos-28061_custom_dark.svg" alt="No photo avaliable" class="img-responsive item-image" />
    }
</div>
