﻿@model IEnumerable<Store.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@if (Model.Any())
{
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input type="text" name="search">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <partial name="Product/_productImagePartial" model="item.Image" />
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.Name) *@
                        @Html.ActionLink(item.Name, "Details", "Products", new { Id = item.Id }, null /* html attributes */)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @* todo: replace string with constant *@
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    <td>
                        <a asp-action="Add" asp-controller="ShoppingCart" asp-route-productid="@item.Id">Add to cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is nothing to display on this page.</p>
}
