﻿
@{
    ViewData["Title"] = "Order completed";
}

<h1>Order completed</h1>
<p>Thank you for your order!</p>

@section scripts {
    <script>
        shoppingCart.clearProductsList();
    </script>
}

