﻿@model OrderDetailsView
@{
    ViewData["Title"] = "Order details";
}

@if (Model == null || Model.ShoppingCartProducts == null)
{
    <h1>Loading order data...</h1>

    <partial name="_productsStringForm" model="new ShoppingCartEncodedData()" />
    @section scripts{
        <script>
            submitShoppingCartHiddenForm(shoppingCart, "POST", "/Order");
        </script>
    }
}
else
{
    <h1>Order details</h1>
    if (!Model.ShoppingCartProducts.Any())
    {
        <p>Your shopping cart is empty! Please add items to your basket before proceeding your order.</p>
    }
    else
    {
        @if (!User.Identity.IsAuthenticated)
        {
            <div>
                <p>
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    to automatically fill the form and save order in orders history!
                </p>
            </div>
        }

        <h3>Order items</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Product.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Quantity)
                    </th>
                    @*todo: find better aproach*@
                    <th>
                        Total product price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCartProducts)
                {
                    <tr>
                        <td>
                            @if (item.Product.Image != null)
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Product.Image))" alt="Photo" max-width="100" height="100">
                            }
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.Name) *@
                            @Html.ActionLink(item.Product.Name, "Details", "Products", new { Id = item.Product.Id }, null /* html attributes */)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @(item.Product.Price * item.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h4>Total order price: @Model.ShoppingCartProducts.Sum(m => m.Product.Price * m.Quantity)</h4>
        </div>

        <form asp-action="Summary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ShoppingCartEncoded.productsString" class="form-control" type="hidden" value="@Model.ShoppingCartEncoded.productsString" />
            <div>
                <h3>Your data for invoice purposes</h3>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuildingNumber" class="control-label"></label>
                    <input asp-for="BuildingNumber" class="form-control" />
                    <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApartmentNumber" class="control-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" />
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DifferentDeliveryAddress" class="control-label"></label>
                    <input id="different-delivery-address" asp-for="DifferentDeliveryAddress" class="form-control" />
                    <span asp-validation-for="DifferentDeliveryAddress" class="text-danger"></span>
                </div>
            </div>

            <div id="delivery-address-section" class="not-displayed">
                <h3>Delivery address</h3>
                <div class="form-group">
                    <label asp-for="DeliveryStreet" class="control-label"></label>
                    <input asp-for="DeliveryStreet" class="form-control" />
                    <span asp-validation-for="DeliveryStreet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryBuildingNumber" class="control-label"></label>
                    <input asp-for="DeliveryBuildingNumber" class="form-control" />
                    <span asp-validation-for="DeliveryBuildingNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryApartmentNumber" class="control-label"></label>
                    <input asp-for="DeliveryApartmentNumber" class="form-control" />
                    <span asp-validation-for="DeliveryApartmentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPostalCode" class="control-label"></label>
                    <input asp-for="DeliveryPostalCode" class="form-control" />
                    <span asp-validation-for="DeliveryPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryCity" class="control-label"></label>
                    <input asp-for="DeliveryCity" class="form-control" />
                    <span asp-validation-for="DeliveryCity" class="text-danger"></span>
                </div>
            </div>

            <div>
                <h3>Payment method</h3>
                <label asp-for="PaymentProviderId" class="control-label"></label>
                <select asp-for="PaymentProviderId" asp-items="@(new SelectList(Model.PaymentProviders, "Id", "ProviderName"))" class="form-control">
                    <option value="">Please select one</option>
                </select>
                <span asp-validation-for="PaymentProviderId" class="text-danger"></span>
            </div>
            <input type="submit" value="Proceed" class="btn btn-primary" />
        </form>

        @section scripts {
            @* todo: this should be done via CSS *@
            <script>
                let differentDeliveryCheckbox = $("#different-delivery-address");
                let deliveryAddressSection = $("#delivery-address-section");

                let changeDeliveryAddressSectionVisability = function () {
                    if (differentDeliveryCheckbox.is(":checked")) {
                        deliveryAddressSection.show();
                    } else {
                        deliveryAddressSection.hide();
                    }
                };

                differentDeliveryCheckbox.click(function () {
                    changeDeliveryAddressSectionVisability();
                });

                changeDeliveryAddressSectionVisability();
            </script>
        }

    }
}
