﻿@model OrderDetailsView
@{
    ViewData["Title"] = "Summary";
}

@* Hidden form *@
<form id="hidden-data-form" asp-action="ConfirmAndPay" class="not-displayed">
    <input asp-for="ShoppingCartEncoded.productsString" class="form-control" type="hidden" value="@Model.ShoppingCartEncoded.productsString" />
    <div>
        <h3>Your data for invoice purposes</h3>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BuildingNumber" class="control-label"></label>
            <input asp-for="BuildingNumber" class="form-control" />
            <span asp-validation-for="BuildingNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentNumber" class="control-label"></label>
            <input asp-for="ApartmentNumber" class="form-control" />
            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="control-label"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DifferentDeliveryAddress" class="control-label"></label>
            <input id="different-delivery-address" asp-for="DifferentDeliveryAddress" class="form-control" />
            <span asp-validation-for="DifferentDeliveryAddress" class="text-danger"></span>
        </div>
    </div>

    <div id="delivery-address-section" class="not-displayed">
        <h3>Delivery address</h3>
        <div class="form-group">
            <label asp-for="DeliveryStreet" class="control-label"></label>
            <input asp-for="DeliveryStreet" class="form-control" />
            <span asp-validation-for="DeliveryStreet" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryBuildingNumber" class="control-label"></label>
            <input asp-for="DeliveryBuildingNumber" class="form-control" />
            <span asp-validation-for="DeliveryBuildingNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryApartmentNumber" class="control-label"></label>
            <input asp-for="DeliveryApartmentNumber" class="form-control" />
            <span asp-validation-for="DeliveryApartmentNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryPostalCode" class="control-label"></label>
            <input asp-for="DeliveryPostalCode" class="form-control" />
            <span asp-validation-for="DeliveryPostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryCity" class="control-label"></label>
            <input asp-for="DeliveryCity" class="form-control" />
            <span asp-validation-for="DeliveryCity" class="text-danger"></span>
        </div>
    </div>

    <div>
        <h3>Payment method</h3>
        <label asp-for="PaymentProviderId" class="control-label"></label>
        <select asp-for="PaymentProviderId" asp-items="@(new SelectList(Model.PaymentProviders, "Id", "ProviderName"))" class="form-control">
            <option value="">Please select one</option>
        </select>
        <span asp-validation-for="PaymentProviderId" class="text-danger"></span>
    </div>
</form>

<h1>Summary</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartProducts[0].Quantity)
            </th>
            @*todo: find better aproach*@
            <th>
                Total product price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCartProducts)
        {
            <tr>
                <td>
                    @if (item.Product.Image != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Product.Image))" alt="Photo" max-width="100" height="100">
                    }
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Name) *@
                    @Html.ActionLink(item.Product.Name, "Details", "Products", new { Id = item.Product.Id }, null /* html attributes */)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @(item.Product.Price * item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h3>Invoice details</h3>
    <p><b>@Html.DisplayNameFor(model => model.Name): </b>@Html.DisplayFor(model => model.Name)</p>
    <p><b>@Html.DisplayNameFor(model => model.Surname): </b>@Html.DisplayFor(model => model.Surname)</p>
    <p><b>@Html.DisplayNameFor(model => model.Street): </b>@Html.DisplayFor(model => model.Street)</p>
    <p><b>@Html.DisplayNameFor(model => model.BuildingNumber): </b>@Html.DisplayFor(model => model.BuildingNumber)</p>
    <p><b>@Html.DisplayNameFor(model => model.ApartmentNumber): </b>@Html.DisplayFor(model => model.ApartmentNumber)</p>
    <p><b>@Html.DisplayNameFor(model => model.PostalCode): </b>@Html.DisplayFor(model => model.PostalCode)</p>
    <p><b>@Html.DisplayNameFor(model => model.City): </b>@Html.DisplayFor(model => model.City)</p>
    <h3>Delivery address</h3>
    @if (Model.DifferentDeliveryAddress)
    {
        <p><b>@Html.DisplayNameFor(model => model.DeliveryStreet): </b>@Html.DisplayFor(model => model.Street)</p>
        <p><b>@Html.DisplayNameFor(model => model.DeliveryBuildingNumber): </b>@Html.DisplayFor(model => model.BuildingNumber)</p>
        <p><b>@Html.DisplayNameFor(model => model.DeliveryApartmentNumber): </b>@Html.DisplayFor(model => model.ApartmentNumber)</p>
        <p><b>@Html.DisplayNameFor(model => model.DeliveryPostalCode): </b>@Html.DisplayFor(model => model.PostalCode)</p>
        <p><b>@Html.DisplayNameFor(model => model.DeliveryCity): </b>@Html.DisplayFor(model => model.City)</p>
    }
    else
    {
        <p>The same as invoice address.</p>
    }

    <h3>Payment</h3>
    <p>
        <b>@Html.DisplayNameFor(model => model.PaymentProviderId)</b>
        @Html.DisplayFor(model => model.PaymentProviders.SingleOrDefault(p => p.Id == model.PaymentProviderId).ProviderName)
    </p>
    <div>
        <h4>Total order price: @Model.ShoppingCartProducts.Sum(m => m.Product.Price * m.Quantity)</h4>
    </div>
    <input id="confirm" type="submit" value="Confirm and pay" class="btn btn-primary" />
</div>

@section scripts {
    <script>
        $("#confirm").click(function (event) {
            event.preventDefault();
            $("#hidden-data-form").submit();
        });
    </script>
}
