﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @*Added properties*@
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Name"></label>
                <input asp-for="Input.InvoiceUserData.Name" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Surname"></label>
                <input asp-for="Input.InvoiceUserData.Surname" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Address.Street"></label>
                <input asp-for="Input.InvoiceUserData.Address.Street" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Address.BuildingNumber"></label>
                <input asp-for="Input.InvoiceUserData.Address.BuildingNumber" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Address.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Address.ApartmentNumber"></label>
                <input asp-for="Input.InvoiceUserData.Address.ApartmentNumber" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Address.ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Address.PostalCode"></label>
                <input asp-for="Input.InvoiceUserData.Address.PostalCode" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Address.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InvoiceUserData.Address.City"></label>
                <input asp-for="Input.InvoiceUserData.Address.City" class="form-control" />
                <span asp-validation-for="Input.InvoiceUserData.Address.City" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
