﻿@model IEnumerable<Store.Models.UserViewModel>
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>                
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @* Html.ActionLink(item.UserName, "Details", "Products", new { Id = item.Id }, null /* html attributes */) *@
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-username="@item.Username">Edit</a> @*|
        <a asp-action="Delete" asp-route-username="@item.Username">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is nothing to display on this page.</p>
}