﻿@model Order
@{
    ViewData["Title"] = "Order details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDateTime)
        </dd>
        <dt class="col-sm-10">
            Total price
        </dt>
        <dd class="col-sm-10">
            @(Model.OrderLines.Sum(o => o.Product.Price * o.Quantity))
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Product.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Quantity)
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderLine in Model.OrderLines)
            {
                <tr>
                    <td>
                        @if (orderLine.Product.Image != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(orderLine.Product.Image))" alt="Photo" max-width="100" height="100">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.Quantity)
                    </td>
                    <td>
                        @(orderLine.Quantity * orderLine.Product.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

